EDISON_API_KEY=hRsjI9ANSvrdxbfhTvjpbw.platformv01.eyJqdGkiOiI1NTJhODRmNC00Yzg3LTRiMDUtYWRmOS1kMDJkZTdhN2U2ODEiLCJzdWIiOiJETU5iYWhuTjY1TVFseVFOMzRFaVRIdkdZVXAyIiwiaWF0IjoxNzgwMzg4NzUxLCJleHAiOjE3ODI5ODA3NTF9.DLL/kFSt0kM08ICZfDpay+KthULa8sORFLb1ZZGOJn8
OPENAI_API_KEY=your_openai_api_key_here
